common --noenable_bzlmod

# Sets the default Apple platform to macOS.
build --apple_platform_type=macos

# By default, build in C++ 20 mode.
build --enable_platform_specific_config

build:linux --cxxopt="-std=c++20"
build:linux --host_cxxopt="-std=c++20"
build:macos --cxxopt="-std=c++20" --features=-supports_dynamic_linker
build:macos --host_cxxopt="-std=c++20" --features=-supports_dynamic_linker
build:windows --cxxopt="/std:c++20"
build:windows --host_cxxopt="/std:c++20"

# Print command lines for build commands.
# build --subcommands=pretty_print

# Print test logs for failed tests.
test --test_output=errors

# Put user-specific options in .bazelrc.user
try-import %workspace%/.bazelrc.user
