# Project Files unneeded by docker
.dockerignore

.git
.gitignore
.github
.clang-format

AUTHORS
CONTRIBUTING.md
CONTRIBUTORS
LICENSE
README.md
docs

# Bazel
bazel/docker
bazel/docs
bazel/Makefile
bazel/cache

# CMake
cmake/README.md
cmake/docker
cmake/docs
cmake/Makefile
cmake/cache

# Native build
.cache/
.vagrant/
**/__pycache__
bazel-*/
*.lock
build/
build*/
cache/
compile_commands.json
export/
tools/Makefile
tools/amd64
tools/arm64

# Editors
.kdev4/
*.kdev4
*.swp
*.user
.vs/
.vscode/
