# Project Files unneeded by docker
.dockerignore

.git
.gitignore
.github
.clang-format

AUTHORS
CONTRIBUTING.md
CONTRIBUTORS
LICENSE
README.md
docs

# Bazel
bazel/docker
bazel/docs

cmake/docker/**/Dockerfile
cmake/docs
**/Makefile



# Native build
bazel-*/
*.lock
build/
build*/

# Editor directories and files
*.user
*.swp
