# Project Files unneeded by docker
.dockerignore

.git
.gitignore
.github
.clang-format

AUTHORS
CONTRIBUTING.md
CONTRIBUTORS
LICENSE
README.md
docs

# Bazel
bazel/docker
bazel/docs
bazel/Makefile
bazel/cache

# CMake
cmake/docker
cmake/docs
cmake/Makefile
cmake/cache

# Native build
.cache/
.vagrant/
bazel-*/
*.lock
build/
build*/
cache/
compile_commands.json
export/

# Editors
.kdev4/
*.kdev4
*.swp
*.user
.vs/
.vscode/
