bazel-*
user.bazelrc

# Ignore Bzlmod lock file until it is more stable
MODULE.bazel.lock

build/
build*/
export/
cache/
__pycache__

# EDITORS
.vagrant/
.vs/
.vscode/
.cache/
# Kdevelop
.kdev4/
*.kdev4
# vim
compile_commands.json
*.swp
*.user
