# Native build
.cache/
.vagrant/
bazel-*
user.bazelrc
# Ignore Bzlmod lock file until it is more stable
MODULE.bazel.lock
build/
build*/
cache/
compile_commands.json
export/
__pycache__

# Editors
.kdev4/
*.kdev4
*.swp
*.user
.vs/
.vscode/
