# ref: https://github.com/actions/runner-images
name: amd64 Windows Bazel

on: [push, pull_request, workflow_dispatch]

concurrency:
  group: ${{github.workflow}}-${{github.ref}}
  cancel-in-progress: true

# Building using the github runner environement directly.
jobs:
  native:
    strategy:
      matrix:
        python: [
          #{version: '3.9'},
          #{version: '3.10'},
          #{version: '3.11'},
          {version: '3.12'},
          {version: '3.13'},
        ]
      fail-fast: false # Don't cancel all jobs if one fails.
    name: windows•Bazel•Py${{matrix.python.version}}
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v6
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{matrix.python.version}}
      - name: Check Python
        run: |
          python --version
          python -m platform
      - name: Install Bazel
        run: choco install bazel
      - name: Check Bazel
        run: bazel version
      - name: Build
        run: >
          bazel build --config=ci
          --@rules_python//python/config_settings:python_version=${{matrix.python.version}}
          //...
      - name: Test
        run: >
          bazel test --config=ci
          --@rules_python//python/config_settings:python_version=${{matrix.python.version}}
          //...

  amd64_windows_bazel:
    runs-on: ubuntu-latest
    needs: native
    steps:
      - uses: actions/checkout@v6
